	
<div class="list" >
	<label class="item">
		<span>Bình chọn</span>
		
	</label>
	<!-- <div class="item text-center" star-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)"></div> -->
	<span class="item text-center" fundoo-rating rating-value="rating" max="5" on-rating-selected="rateFunction(rating)"></span>
	<label class="item">
		<span>Nhận xét</span>
	</label>
	<div class= "item padding">
	<textarea class="border padding" ng-model="recommend.comment" rows ="3"></textarea>
	</div>
</div>
